news-item
  +clearfix
  @extend .font-droid
  display: block
  font-weight: 400

  a
    text-decoration: none

  .story_liner
    padding: 3px 0

  .cats
    margin-right: 5px

  .domain a
    font-size: 11px
    font-style: italic
    margin-right: 5px
    color: #888
    opacity: 1
    &:hover
      color: blue

  .details
    @extend .font-cantarell
    color: #888
    font-size: 13.2px

    span:hover
      color: #000

    .link
      @extend .font-droid
      box-sizing: border-box
      color: rgb(0, 0, 0)
      cursor: auto
      display: inline
      font-size: 14px
      font-weight: bold
      line-height: 20px
      margin-right: 5px
      text-align: left
      a
        text-decoration: none
        &:visited
          color: #888
        &:hover
          color: $news-color
      &.edittext
        margin-bottom: 5px
        display: block




  .meta, .meta span, .domain
    vertical-align: text-bottom

  .meta
    font-size: 11px
    span
      // vertical-align: text-bottom
      &:after
        content: '\b7\a0'
        padding: 0 4px
      &:last-child:after
        content: none
    a:hover
      text-decoration: underline

  .votes
    float: left
    position: relative
    @extend .font-droid

    .voter, .score
      position: absolute

    .voter
      left: 4px
      top: -2px
      a
        border-color: transparent transparent #CCC transparent
        border-style: solid
        border-width: 5px
        border-bottom-width: 10px
        display: block
        height: 0
        margin-bottom: 0px
        margin-left: 5px
        padding: 0
        text-decoration: none
        width: 0px
        &:hover
          border-color: transparent transparent #000 transparent

    .score
      +single-transition
      top: 15px
      left: 0
      color: #CCC !important
      display: inline-block
      font-size: 12px
      text-align: center
      font-weight: bold
      min-width: 27px

    &.voted
      .score
        color: #000 !important
      .voter a
        border-color: transparent transparent #000 transparent

  .description
    font-size: 12px
    font-family: "helvetica neue", arial, sans-serif
    margin-top: 12px
    h1, h2, h3, h4, h5, h6
      font-weight: bold
      margin: 0
    h1, h2, h3, h4, h5, h6, p
      margin-top: 0
    a
      color: blue

    &.edittext
      width: 100%
      min-height: 100px

  .edittext
    padding: 5px 10px
    border: 2px dotted #DDD
    outline: none
    &:focus
      border-color: blue

  .editButton button
      margin-right: 10px

  .comment-box form
    margin-top: 15px
    border: 0

  .box, .editButton, .description, .details
    margin-left: 35px

  .report-link:hover
    color: $news-color


  .report-box
    background: #FFFBC9
    border: 1px solid rgba(0,0,0,0.1)
    padding: 5px 15px
    display: inline-block
    .rtitle
      font-size: 14px
      opacity: 0.9
      font-weight: bold

    .buttons
      margin-top: 5px
      button
        margin-right: 5px


body.storyHideScore news-item .details
  margin-left: 15px