extends ./common.jade

block robots
  section
    h1.title= data.story.title
    .description= data.story.description

  .comments
    each comment in data.story.comments
      .comment
        div= comment.content
