.news-feed(id="feed-{{ feed.id }}")
  //- Custom styles. A very effective way to color stuff..
  style.
    #feed-{{ feed.id }} .news-feed-item:hover {
      background: rgba({{ feed.rgb.r }}, {{ feed.rgb.g }}, {{ feed.rgb.b }}, 0.15)
    }

  .source(ng-style="{ 'background' : feed.$attributes.color }", 
    ng-class="{updating: feed.updating, white: feed.$attributes.meta.isWhite}")
    .image
      a(fn-route="/feed/{{ feed.$attributes.slug }}")
        img(ng-src="/images/source/{{ feed.$attributes.domain }}.png")
    .info
      a.domain(ng-href="/feed/{{ feed.$attributes.slug }}") {{ feed.$attributes.domain }}
      .update(ng-click="feed.updating = true; updateArticles()") click here to update
      .updated last article {{ feed.$attributes.last_article_at | prettydate }}
      .updating updating...
      .update-timeout updating in 100s
      
  .articles(ng-class="{updating: feed.updating}")
    news-feed-item(ng-repeat="article in feed.articles.$models", ng-model="article", 
      class="{{ itemClass }}"
      feed="feed")