doctype html
html
  head
    title #{title}
    style(type='text/css').
      @import url(//fonts.googleapis.com/css?family=Bitter);
      @import url(//fonts.googleapis.com/css?family=Open+Sans:400,600);
      @import url(//cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/css/foundation.min.css);


      body {
        font-family: 'Open Sans', sans-serif;
      }
      h1, h2, h3 {
        font-family: 'Bitter', serif;
      }

  body
    .row
      h3.columns Terms &amp; Conditions - The Big Indian News
      p.columns This is the internet you have no privacy.