// $headerHeight: 60px
$headerHeight: 50px
$subHeaderWidth: 130px
$subHeaderColor: #382869
$subHeaderDarkColor: rgba(0,0,0,0.3)


header
  $border-color: #EEE
  @extend .font-droid
  background: #C80900
  width: 100%
  z-index: 4

  nav#menu-header
    ul
      +clearfix
      margin: 0 auto
      max-width: $row-width

      li
        text-transform: lowercase
        float: left
        opacity: 0.9
        border-bottom: 3px solid transparent

        &.nav-right
          @media #{$medium-up}
            float: right

        &.title
          @extend .font-bold
          text-transform: none
          font-weight: bold
          padding-right: 10px
          opacity: 1

        &.active
          @media #{$medium-up}
            border-bottom-color: #FFF
          @media #{$small-only}
            background: #FFF
            a
              color: $news-color
          opacity: 1

        a
          display: block
          font-size: 13px
          padding: 10px 8px 8px
          color: #FFF
          text-decoration: none


@media print
  header
    display: none