//- #main-header(class="{{ route }}")
  #grabber-container
    header-hamburger(ng-click="toggleHeader()")

//- This is the Main header
nav#menu-header(ng-class="{'show-menuheader': showMenuHeader}"
  ng-init="showSubMenu=false;")
  ul
    li.homelogo
      a(fn-route="/")
        img(src="/images/logo.2.png")
    //- li(ng-repeat="link in links"
      class="{{ link.class }}"
      ng-mouseover="onMainLinkHover(link)"
      ng-class="{active: link.isActive}")
      span.icon(ng-if="link.children") &#xf105;
      a(fn-route="{{ link.url }}") {{ link.name | translate:'header'}}

//- nav#user-header.row
  ul.show-if-loggedin
    //- li <a href="/user/{{ user.username }}/notifications">notifications (2)</a>
    //- li.spacer &middot;
    //- li <a href="/user/jacon232/comments">messages</a>
    //- li.spacer &middot;
    li hello <a fn-route="/user/{{ user.username }}" class="user">{{ user.username }}!</a>
span.nav-cover(ng-click="closeHeader()", ng-mouseover="onCoverHover()")