doctype html
html(lang= lang, dir= dir, data-ng-strict-di)
  head
    block meta
    include ./include/head.jade

  body.initializing(itemscope
    itemtype="http://schema.org/WebSite"
    ng-class="bodyClasses"
    ng-style="bodyStyles")

    include ./include/header.jade

    #page-loader
      #page-loading-bar

    #bg-overlay

    //- Main content goes in here
    main(ui-view='')
      block robots
      block content

  //- Footer goes in here
  include ./include/footer.jade