header
  nav
    ul
      li
        a(href='/info/contribute') Contribute
      li
        a(href='/') Top News
      li
        a(href='/recent') Recent News
      li
        a(href='/categories') News Categories
      li
        a(href='/submit') Submit News
      li
        a(href='/settings') Settings
      li
        a(href='/login') Login
      li
        a(href='/signup') Sign up
      li
        a(href='/logout') Logout
      li
        a(href='/info/about') About us
      li
        a(href='/info/terms-privacy') Terms &amp; Privacy