//- The stories list
.feeds.row(packery="{gutter: 0}")
  .packery-brick.columns.large-3.medium-4.end
    news-list(ng-model="top", feeds="feeds", title="Popular News")
  .packery-brick.columns.large-3.medium-4.end
    news-list(ng-model="recent", feeds="feeds", title="Recent News")
  .packery-brick.columns.large-3.medium-4(ng-repeat="feed in feeds.$models track by $index")
    news-feed(ng-model="feed")
    //- news-item(ng-model="story")

//- .page-links
  a(fn-route="/page/{{ pagination.prev }}", ng-if="pagination.prev") Page {{ pagination.prev }}
  span(ng-if="pagination.prev && pagination.next") &nbsp;&middot;&nbsp;
  a(fn-route="/page/{{ pagination.next }}", ng-if="pagination.next") Page {{ pagination.next }}