extends ./common.jade

block robots
  h1 Top news

  ul
    //- h1 Hello
    for story in data.collection
      li
        span created on #{story.created_at}
        span created by #{story.created_by.username}
        a(href="/story/#{story.slug}")
          h2 #{story.title}