.row
  h2.columns About
  p.columns.
    <b>The Big Indian News</b> is a link-aggregation site made specially for
    startups in india. It brings you the most relevant and lastest news from
    many different sources.

  p.columns.
    The site is similar to
    <a href="https://news.ycombinator.com/">Hacker News</a>,
    <a href="https://www.reddit.com/">Reddit</a>, and
    <a href="https://lobste.rs/">Lobsters</a>. It borrows some ideas from these
    sites and also tries to fix problems specific to each of them.

  p.columns.
    The site was created by <b>Steven Enamakel</b> and was released publically
    on August 2015. It is free, open-source and is always going to be ad free.
    <a fn-route="/info/contribute">Contribute</a> and help keep the site
    running!


  h2.columns How to use it
  p.columns.
    The homepage will contain the most relevant links. You can discuss on each
    link by posting comments on them.