style.
  .news-feed-item:hover {
    background: rgba({{ feed.rgb.r }}, {{ feed.rgb.g }}, {{ feed.rgb.b }}, 0.15)
  }

.source(ng-style="{ 'background' : feed.$attributes.color }", 
  ng-class="{updating: feed.updating, white: feed.meta.isWhite}")
  .image
    img(ng-src="/images/source/{{ feed.$attributes.domain }}.png")
  .info
    a.domain(ng-href="{{ feed.$attributes.url }}" target="_blank") {{ feed.$attributes.domain }}
    .update(ng-click="feed.updating = true; updateArticles()") click here to update
    .updated last article {{ feed.$attributes.last_article_at | prettydate }}
    .updating updating...
    .update-timeout updating in 100s


.news-feed(id="feed-{{ feed.id }}")      
  packery.articles.row.collapse
    .packery-brick.columns.medium-4.large-3(ng-repeat="article in feed.articles.$models")
      news-feed-item(ng-model="article", feed="feed")