form.row
  .columns
    h1 Newsletter

  .columns
    p.
      Here you can subscribe and get the best news stories straight to your inbox! <br>
      You can choose to recieve emails about top daily stories, top weekly stories or top monthly stories

  .columns
    p.
      You can stop the newsletter by clicking on the un-subscribe link on the bottom of the email.
      <br>
      <b>but since you're logged in (yay!)</b>, you can easily un-subscribe by also clicking on this
      <button class="unsubscribe">un-subscribe</button> button <b>(aww..)</b>.

  .columns
    span.title Send me a newsletter:
    span.options
      select
        option(checked) Daily
        option Weekly
        option Monthly