a(ng-href="/category/{{ model.$attributes.slug }}", ng-if="!disableHref")
  span(ng-style="{background: model.$attributes.meta.color}") {{ model.$attributes.title }}

span(ng-style="{background: model.$attributes.meta.color}"
  ng-if="disableHref") {{ model.$attributes.title }}