.logo
  img(src="/icons/apple-icon-180x180.png")

.row
  h2.columns Contribute
  p.columns.bold.
    Send us your love! Help us make something amazing together.


  h2.columns Donate to us
  p.columns.
    The site will always be free! But running it drains our pockets. Help keep
    us running by donating to us. We accept donations using PayPal or Bitcoin.

  p.columns.
    <b>PayPal:</b> <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=VVPBN75GCJ854">https://www.paypal.com</a>
    <br>
    <b>Bitcoin:</b> 1CspnUQcSXV9KYUugKoLgGf25ycmnPccZn
    <br>
    <b>Litecoin:</b> LZyctZDUQirYoAhBqsKLXVjNbK45hw42uL


  h2.columns Developers
  p.columns.
    All the code for the site is managed using <a href="https://github.com/thebigindiannews/website">GitHub</a>. Visit
    it for instructions on how to contribute in terms code.