.row
  h2.columns Terms &amp; Privacy
  p.columns.
    <b>This is the internet. You don't have any privacy.</b>
    <br/>
    Just play nicely. If you post content that is disturbing then we ban you, m'okay?