news-item
  +clearfix
  .link a
    @extend .font-bitter
    color: #000
    font-size: 10pt
    font-weight: bold
    margin-right: 5px
    &:visited
      color: #777
    &:hover
      text-decoration: none
  .story_liner
    padding: 4px 0

  .cats
    margin-right: 0.25em
    a
      +radius(3px)
      margin-left: 5px
      margin-right: 3px
      font-size: 10px
      // vertical-align: middle
      padding: 0px 0.5em 1px 0.5em
      display: inline-block
      background: #fffcd7
      border: 1px solid rgba(0,0,0,0.1)
      &, &:hover
        color: #555
        text-decoration: none

  .domain
    font-style: italic
    color: blue
    opacity: 0.6

  .details
    color: #888
    font-size: 8.5pt
    margin-top: 2px
    // margin-left: 25px
    span
      +single-transition
      &:hover
        color: #000

  a
    // +single-transition
    text-decoration: none
    &:hover
      text-decoration: underline

  .upvoter
    float: left
    margin-top: 2px

    a
      border-color: transparent transparent #CCC transparent
      border-style: solid
      border-width: 5px
      border-bottom-width: 11px
      display: block
      height: 0
      margin-bottom: 0px
      margin-left: 5px
      padding: 0
      text-decoration: none
      width: 0px
      &:hover, &.voted
        border-color: transparent transparent #000 transparent

  .score
    color: #CCC !important
    display: inline-block
    font-size: 11px
    margin-top: 3px
    text-align: center
    font-weight: bold
    min-width: 35px

  .score, .details span, a
    +single-transition

  &:hover
    .comments_label
      text-decoration: underline
    .details span
      color: #000
    .domain
      opacity: 1
    .link a
      color: #000