#sources-modal
  .modal-header 
    .title Sources
    input(placeholder="Filter sources", ng-model="filterInput")
    .row.collapse
      .columns.small-6.options
        .item.active All
        .item Newspapers
        .item Blogs
      .columns.small-6.buttons
        .item Select All
        .item Deselect All


  .modal-content.row.collapse
    .small-6.columns(ng-repeat="feed in feeds | filter: filterInput")
      .source
        .icon(ng-style="{ 'background' : feed.color }", )
          img(ng-src="/images/source/{{ feed.domain }}.png" width=40)
        label {{ feed.domain }}
        .checkbox