md-bottom-sheet.md-grid(layout='column', ng-cloak='')
  div(layout='row', layout-align='center center')
    h4 What do you want to do with this story?
  div
    md-list(flex='', layout='row', layout-align='center center')
      md-list-item
        md-button.md-grid-item-content(ng-click='listItemClick($index)')
          md-icon(md-font-set="material-icons" md-menu-align-target) &#xE5D3;
          .md-grid-text Open in a new tab