.story_comment(id="comment_{{ comment.slug }}"
  ng-class="{ focus: comment.focus }")
  .votes(ng-if="!settings.storyHideScore")
    .score {{ comment.score || 0 | prettynumber }}
    .voter(ng-if="!hasVoted")
      a(ng-click="upvote()", ng-class="{voted: hasVoted}")

  .details(ng-if="!comment.isNotInStory")
    a.author(fn-route="/user/{{ comment.created_by_uname }}") {{ comment.created_by_uname }}
    | &nbsp;&middot;&nbsp;
    span {{ comment.created_at | prettydate }}
    | &nbsp;&middot;&nbsp;
    a(fn-route="/story/{{ comment.meta.storySlug }}?comment={{ comment.slug }}") link
    | &nbsp;&middot;&nbsp;
    a(ng-click="comment.showReplyBox = !comment.showReplyBox") reply

  .details(ng-if="comment.isNotInStory")
    a.author(fn-route="/user/{{ comment.created_by_uname }}") {{ comment.created_by_uname }}
    | &nbsp;&middot;&nbsp;
    span {{ comment.created_at | prettydate }}
    | &nbsp;&middot;&nbsp;on:&nbsp;
    a(fn-route="/story/{{ comment.meta.storySlug }}?comment={{ comment.slug }}") {{ comment.meta.storyTitle }}

  .content(ng-bind-html="markdown")
  form.replyBox.row(ng-if="comment.showReplyBox", name="comment_form")
    .columns
      textarea.field.show-if-loggedin(ng-model="data.child_comment"
        ng-disabled="formLoading"
        maxlength=3000
        placeholder="reply to this comment"
        required)
      a.hide-if-loggedin(fn-route="/login")
        textarea.field.main-commentbox(
          placeholder="you need to be logged in to comment"
          disabled)

    .columns(ng-if="comment_form.$valid")
      google-recaptcha(ng-model="data.gcaptcha", ng-if="!data.gcaptcha")
      button(ng-click="submit()", ng-if="data.gcaptcha") Submit

  .children(ng-repeat="child in comment.children | orderBy : 'hotness' : true")
    news-comment(ng-model="child")