footer
  width: 100%
  display: block
  padding: 1px
  padding-left: 60px

  .subscribe
    @extend .font-roboto
    width: 300px
    margin: 15px auto
    font-size: 12px
    font-weight: bold
    text-align: center
    p
      color: #666
    button
      +radius(3px)
      background: #e11528
      color: #FFF
      padding: 12px
      text-transform: uppercase
      width: 100%
      &:hover
        background: #b10a19