footer
  border-top: 1px solid #DDD
  font-size: 12px
  padding: 10px
  text-align: center

  ul
    +clearfix
    opacity: 0.5
    margin: 0 auto
    max-width: $row-width
    li
      float: right
      a
        display: block
        padding: 0 10px
        text-decoration: none