doctype html
html
  head
    title #{title}
    style(type="text/css").
      @import url(//fonts.googleapis.com/css?family=Roboto);
      body {
        background-color: #EEE;
        margin: 0;
        padding: 0;
      }
      img { max-width: 100%; }
      div {
        margin: 10px auto;
        padding: 50px 10px;
        text-align: center;
      }
      h1 {
        font-family: "Roboto", sans-serif;
        font-weight: bold
      }
  body
    div
      img(src="/images/404.gif")
      h1 Page not found