md-content
  .logo
    img(src="/images/logo.png")
    .title the Big Indian News

  .seperator

  nav.menu
    md-button.link(ng-href="/")
      md-icon(md-font-set="material-icons" md-menu-align-target) &#xe80e;
      span(flex) Hottest stories

    md-button.link(ng-href="/")
      md-icon(md-font-set="material-icons" md-menu-align-target) &#xe422;
      span(flex) Latest stories

    md-button.link(ng-href="/")
      md-icon(md-font-set="material-icons" md-menu-align-target) &#xE0B9;
      span(flex) Comments 

    md-button.link(ng-href="/")
      md-icon(md-font-set="material-icons" md-menu-align-target) &#xE8B6;
      span(flex) Search

    .seperator

    md-button.link(ng-href="/")
      md-icon(md-font-set="material-icons" md-menu-align-target) &#xE89c;
      span(flex) Submit story

    md-button.link(ng-href="/")
      md-icon(md-font-set="material-icons" md-menu-align-target) &#xE88f;
      span(flex) More Info